/finalproject/nbproject/private/
/finalproject/dist/
/finalproject/build/
/video trial/nbproject/private/
/video trial/build/
/video trial/dist/
/XML APIs lab1/nbproject/private/
/XML APIs lab1/build/
/XML APIs lab1/dist/
/XML APIs Lab2/nbproject/private/
/XML APIs Lab2/dist/
/XML APIs Lab2/build/
/XMLAPIsLab21/nbproject/private/
/XMLAPIsLab21/dist/
/XMLAPIsLab21/build/
/XMLAPIsLab22/nbproject/private/
/XMLAPIsLab22/build/
/XMLAPIsLab22/dist/
/serverProject/nbproject/private/
/serverProject/build/
/server_finalproject/build/
/server_finalproject/dist/
/server_finalproject/nbproject/private/